

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

#content{
    max-width: 100vw;
    align-items: center;
}


.section {
    max-width: 30%;
    font-size: 18px;
    border: 2px solid black;
    float: left;
    position: relative;
    left: 40px;
}

h1{
    margin-bottom: 15px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
h3{
    background-color: coral;
    width: 100px;
    border: black 2px solid;
    margin-top: 0%;
    text-align: center;
    float: right;    
}

#lorem{
    background-color: cadetblue;
    margin-bottom: 20px;
    margin: 10px;  
}
#ipsum{
    background-color: darkkhaki;
    margin-bottom: 20px;
    margin: 10px;
}
#dolor{
    background-color: mediumturquoise;
    margin-bottom: 20px;
    margin: 10px;
}
p{
    padding: 10px;
    text-align: justify;
    margin-top: 30px;
}


/* Media */

/* Desktop View */
@media (min-width: 992px) and(max-width:1400px) {
    .section {
        max-width: 35%;
    }
}
/* Medium View */
@media (max-width:991px) {
    .section {
        max-width: 40%;
    }

    .span{
        max-width: 82%;
    }
}

/* Mobile View */
@media (max-width:768px) {
    .section {
        max-width: 80%;
    }
}
